<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'account/css/activate.css' %}">
    <link rel="icon" type="image/.ico" sizes="16x16" href="{% static 'main/img/avatar.png' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Women's Diary - Reset password</title>
</head>
<body>
    <section>
        <div class="sign-up_container">
            <div class="main_block_sign-up_container">
                <div class="title_main_block">
                    <h1>Reset password</h1>
                    <p>Women's Diary</p>
                </div>
                <div class="input_forms_sign-up">
                    <form method="POST">
                        {% csrf_token %}
                        <label>
                            <input type="password" placeholder="Reset password" name="password" class="form_input_username" autocomplete="off" style="margin-top: 30px;">
                        </label>

                        <div class="check_validate_account">
                            {% for message in messages %}
                                <p>{{ message }}</p>
                            {% endfor %}
                        </div>

                        <button type="submit" class="form_sign_up_button" id="submit_button">Reset password</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="image_container">
        </div>
    </section>
</body>
</html>